{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block body %}
	<main id="home">


		<section class="module-welcome">
			<h1 class="h1 container">Bienvenue sur le point d'entrée français
				<br>
				du site orphanet !</h1>
			<div class="box-link container">
				<p>Retrouvez</p>
				<div class="links">
					<a href="#news">
						<i class="fa-solid fa-arrow-right"></i>
						Les actualités</a>
					<a href="#events">
						<i class="fa-solid fa-arrow-right"></i>
						Les événements</a>
					<a href="#files">
						<i class="fa-solid fa-arrow-right"></i>
						Les documents</a>
				</div>
				<p>de portée nationale sur les maladies rareset les médicaments orphelins.</p>
			</div>
		</section>


		<section class="orpha-service container">
			<div class="grid align-item-stretch">
				<div class="card orphanet s_12col m_6col bgd-bluelight">
					<figure>
						<img src="/user/themes/orphanet/images/logo/Logo_orphanet_transp.png" alt="">
					</figure>
					<h2 class="text-uppercase clr-blue h1">Services d'Orphanet International</h2>
					<div class="block-content">
						<ul>
							<li>Un inventaire et une classification des maladies rares ...
							</li>
							<li>Une encyclopédie</li>
							<li>Une répertaoire de services: consultations, laboratoires, projets de recherche, registres, essais cliniques, associationsde patients</li>
							<li>Un inventaire des médicaments orphelins</li>
							<li>Des recommandations et des rapports</li>
							<li>Une newsletter</li>
						</ul>
					</div>
					<div class="block-action">


						<a class="btn-primary" target="_blank" href="https://www.orpha.net/consor4.01/www/cgi-bin/index.php?lng=FR">
							Accéder à ces services

						</a>

					</div>
				</div>
				<div class="card orphadata s_12col m_6col flex space-between column-dir bgd-orangelight">
					<div>
						<figure>
							<img src="/user/themes/orphanet/images/logo/logo_orphadata.png" alt="">
						</figure>
						<h2 class="text-uppercase clr-orange h1">Services d'orphadata</h2>
						<div class="grid gap-50">
							<div class="s_12col l_6col flex data-item">
								<i class="icon-orange fa-solid fa-leaf"></i>
								<p class="text-p">Orphanet Scientific knowledge base
								</p>
							</div>
							<div class="s_12col l_6col flex data-item">
								<i class="icon-orange  fa-solid fa-box-archive"></i>
								<p class="text-p">Catalogue of expert Resources
								</p>
							</div>
							<div class="s_12col l_6col flex data-item">
								<i class="icon-orange fa-solid fa-books"></i>
								<p class="text-p">Orphanet Nomenclature for coding and associated tools
								</p>
							</div>
							<div class="s_12col l_6col flex data-item">
								<i class="icon-orange fa-solid fa-share-nodes"></i>
								<p class="text-p">Ontologies
								</p>
							</div>
						</div>
					</div>

					<div class="module-action">
						<a href="http://dev.orphadata.com/" class="btn-extern clr-orange">
							<span class="btn-label">En savoir +</span>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="module-bloc-content bgd-blue clr-white">
			<div class="container grid">
				<div class="left-part s_12col m_6col">
					<h2 class="h1 clr-white">Les nouveautés d'Orphanet</h2>

					<div class="copy">
						<h3>Application Orphanet Guides : Nouvelle version disponible</h3>
						<p>Complémentaire du site Orphanet, la nouvelle application Orphanet Guides facilite l'accès à une information spécifique et pratique pour les professionnels médicaux, paramédicaux et toute personne concernée par la prise en charge d'une maladie rare en France.</p>
						<p>Parmi les documents embarqués, vous trouverez de l'information dédiée à la prise en charge pluridisciplinaire des situations de handicap pour 80 maladies rares, ainsi que le cahier d'Orphanet "Vivre avec une maladie rare en France", qui détaille les modalités d'aides et de prestations concernant les maladies rares en France. Orphanet Guides donne aussi la possibilité de consulter les fiches 'Orphanet Urgences', qui décrivent la conduite à tenir en cas d'urgence pour plus de 100 maladies rares.</p>
						<p>Cette application a été réalisée avec le concours de la Ministère des Solidarités et de la Santé, de la Caisse nationale de solidarité et d'autonomie (CNSA), et avec le soutien de la Fondation Groupama pour la Santé.</p>
						<div class="sc-columns" style="columns:2 auto;-moz-columns:2 auto;column-gap:normal;-moz-column-gap:normal;">
							<p>
								<strong>Google Play:</strong>
								<a href="https://play.google.com/store/apps/details?id=com.inserm.orphanet&amp;gl=FR">https://play.google.com/store/apps/details?id=com.inserm.orphanet&amp;gl=FR</a>
							</p>
							<p>
								<strong>Apple Store:</strong>
								<a href="https://apps.apple.com/tr/app/orphanet-guides/id1580945870">https://apps.apple.com/tr/app/orphanet-guides/id1580945870</a>
							</p>
						</div>
					</div>

					<a href="https://thomasflorentin.net" class="btn-secondary">En savoir +</a>
				</div>
				<div class="right-part s_12col">
					<figure>


						<img title="Les nouveautés d'Orphanet" alt="Les nouveautés d'Orphanet" src="/user/pages/01.home/02._application-orphanet/22.jpg" srcset="/images/9/7/d/2/9/97d294f9d50fef83ec79d1fc3cf45ad19d4c773e-22400w.jpg 400w, /images/9/3/1/0/e/9310ea8ad76f76de4f57e5d874f77098b8b5ecfe-22800w.jpg 800w, /images/a/7/9/4/7/a7947c6ff2f6f24147210ba55a835b64accd98f8-221200w.jpg 1200w, /images/d/4/4/f/5/d44f5364528ed7db01d48319b4ab2fe1754ac332-221600w.jpg 1600w, /images/e/c/4/7/1/ec47131aab7ccaaf4ed2b7960fc4abc267c4dc87-222000w.jpg 2000w, /images/2/e/4/3/7/2e437ef84724ccc43600450eb097d805dc20995d-222400w.jpg 2400w, /user/pages/01.home/02._application-orphanet/22.jpg 3130w" sizes="(min-width: 300px) 100vw, (min-width: 1000px) 50vw, 50vw">

					</figure>
				</div>
			</div>
		</section>

		<section class="module-localnews">
			<div class="headmodules bgd-bluelight">
				<div class="container">
					<div class="module_title">
						<h5 class="h1">Les actualités en france</h5>
					</div>
				</div>
			</div>
			<div class="botmodules bgd-white">
				<div class="owl-carousel owl-theme owl-loaded owl-drag">


					<div class="owl-stage-outer">
						<div class="owl-stage" style="transition: all 0s ease 0s; width: 575px; transform: translate3d(331px, 0px, 0px);">
							{% for item in news %}
								<div class="owl-item active" style="width: 257.152px; margin-right: 30px;">
									<article class="slider-card bgd-white item" data-dot="<button class='owl-dot'><i class='fa-regular fa-circle-small'></i></button>">

										<figure class="card-media">
											<img src="{{ asset('upload/pages/' ~ item.getHeroPic() ) }}" alt="">
										</figure>

										<div class="slider-card-content">

											<div class="content">
												<h2 class="h2">{{ item.title }}</h2>
												<p>
													{{ item.header |length > 200 ? item.header|slice(0, 200)|striptags ~ '...' : item.header|striptags  }}
												</p>
											</div>

											<div class="slider-card-action">
												<a href="{{ not item.getExternalUrl() is empty ? item.getExternalUrl() : path('single_new', {'slug': item.slug }) }}" target="{{ not item.getExternalUrl() is empty ? "_blank" : "" }}" class="{{ item.getExternalUrl() is empty ? 'btn-primary' : 'btn-extern' }}">{{ "<span class='btn-label'>En savoir +</span>" }}
												</a>
											</div>

										</div>

									</article>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="owl-nav disabled">
						<button type="button" role="presentation" class="owl-prev">
							<span aria-label="Previous">‹</span>
						</button>
						<button type="button" role="presentation" class="owl-next">
							<span aria-label="Next">›</span>
						</button>
					</div>
				</div>
				<div class="navigation-slider container">
					<ul id="carousel-custom-dots" class="owl-dots disabled">
						<div class="owl-dot active">
							<button class="owl-dot" control-id="ControlID-1">
								<i class="fa-regular fa-circle-small"></i>
							</button>
						</div>
						<div class="owl-dot">
							<button class="owl-dot" control-id="ControlID-2">
								<i class="fa-regular fa-circle-small"></i>
							</button>
						</div>
					</ul>
					<div class="owl-nav">
						<div class="owl-prev">
							<i class="fa-solid fa-angle-left"></i>
						</div>
						<div class="owl-next">
							<i class="fa-solid fa-angle-right"></i>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="module-event">

			<div class="module-event bgd-blue clr-white" id="events">

				<div class="container grid">
					<div class="s_12col m_8col center-event">

						<div class="module_title">
							<h4 class="h1 clr-white">Événements</h4>
						</div>

						<div class="event_container">

							{% for item in events %}
								<article class="grid">

									<div class=" m_2col">
										<div class="ratio_square">
											<div class="ratio_inner">
												<p class="flex event-date text-uppercase">
													{{ item.getUpdatedAt()|date('d-m') }}
													<br>
													{{ item.getUpdatedAt()|date('Y') }}</p>
											</div>
										</div>

									</div>

									<div class="event-content  m_9col">
										<h3 class="h3">{{ item.title }}</h3>
										<p>{{ item.header |length > 200 ? item.header|slice(0, 200)|striptags ~ '...' : item.header|striptags  }}</p>

										<div class="event_action">
											<i class="fa-solid fa-arrow-right"></i>
											<a href="/events/conference" class=""></a>

											<a href="{{ not item.getExternalUrl() is empty ? item.getExternalUrl() : path('single_event', {'slug': item.slug }) }}" target="{{ not item.getExternalUrl() is empty ? "_blank" : "" }}" class="">En savoir plus
											</a>
										</div>

									</div>

								</article>
							{% endfor %}
						</div>

						<div class="module_action">
							<i class="fa-solid fa-arrow-right"></i>
							<a href="{{path('all_event')}}" class="bold">TOUS LES ÉVÉNEMENTS</a>
						</div>
					</div>
				</div>


			</div>
		</section>

		<section id="files-module">
			<div class="container module-file" id="files">
				<h4 class="h1">Documents</h4>
				<div class="file_container grid clr-blue gap-50">
					{% for item in files %}

						{% if item.getExternalUrl() != null %}

							<div class="s_12col m_4col">
								<i class="fa-regular fa-globe"></i>
								<a href="{{ item.getExternalUrl() }}" target="_blank">{{ item.name }}</a>
							</div>

						{% else %}

							{% set filesize = item.getFileSize() / 1000000 %}

							<div class="s_12col m_4col">
								<i class="fa-regular fa-file-pdf"></i>
								<a href="{{ asset('upload/files/'~ item.upload) }}" target="_blank">{{ item.name }}
									[
									{{item.extension|upper}}
									-
									{{ filesize|number_format(1) }}
									Mo]
								</a>
							</div>

						{% endif %}

					{% endfor %}

				</div>
			</div>
		</section>

		<section class="module-infos bgd-grey" id="infos">
			<div class="container">
				<h4 class="h1">Informations générales</h4>
				<div class="infos-container">
					<div class="infos-card">
						<figure>
							<img src="{{ asset('images/img-modules/ORPHANET_BREF.svg') }}" alt="">
						</figure>
						<a class="btn-primary" href="https://www.orpha.net/consor4.01/www/cgi-bin/Education_AboutOrphanet.php?lng=FR">Orphanet en bref</a>
					</div>
					<div class="infos-card">
						<figure>
							<img src="{{ asset('images/img-modules/MALADIES_RARES.svg') }}" alt="">
						</figure>
						<a class="btn-primary" href="https://www.orpha.net/consor4.01/www/cgi-bin/Education_AboutRareDiseases.php?lng=FR">Les maladies rares</a>
					</div>
					<div class="infos-card">
						<figure>
							<img src="{{ asset('images/img-modules/MEDICAMENTS_ORPHELINS.svg') }}" alt="">
						</figure>
						<a class="btn-primary" href="https://www.orpha.net/consor4.01/www/cgi-bin/Education_AboutOrphanDrugs.php?lng=FR">Les médicaments orphelins</a>
					</div>
					<div class="infos-card">
						<figure>
							<img src="{{ asset('images/img-modules/CHARTE_QUALITE.svg') }}" alt="">
						</figure>
						<a class="btn-primary" href="https://www.orpha.net/consor4.01/www/cgi-bin/Education_AboutHealthCarePolicies.php?lng=FR">Charte qualité</a>
					</div>
					<div class="infos-card">
						<figure>
							<img src="{{ asset('images/img-modules/ACTUALITES.svg') }}" alt="">
						</figure>
						<a class="btn-primary" href="https://international.orphanews.org/home.html?Ltr=EuropaNews">Newsletter</a>
					</div>

				</div>
			</div>
		</section>

		<section class="module-internationalenews bgd-white" id="infos">
			<div class="container">
				<h4 class="h1">Actualité internationale</h4>
				<div class="news-internation-container grid">
					{% for item in news_international %}
						<div class="m_4col s_12col card-news">
							<div class="content">
								<p>{{ item.title }}</p>
							</div>
							<a href="{{ not item.getExternalUrl() is empty ? item.getExternalUrl() : path('single_new', {'slug': item.slug }) }}" target="{{ not item.getExternalUrl() is empty ? "_blank" : "" }}" class="{{ item.getExternalUrl() is empty ? 'btn-primary' : 'btn-extern' }}">{{ "<span class='btn-label'>En savoir +</span>" }}
							</a>

						</div>
					{% endfor %}
				</div>

			</div>
		</section>


	</main>
{% endblock %}
